body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkblue;
}
header h1 {
  color: white;
  text-decoration: underline;
  background-color: goldenrod;
  border-radius: 10px;
  font-size: 90px;
}
h1 {
  text-align: center;
}
.heart {
  font-size: 20rem;
  animation: heart 0.5s alternate linear infinite;
  color: red;
}
@keyframes heart {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  header h1,
  .heart {
    font-size: 2rem;
    display: block;
    position: relative;
  }
  .heart {
    padding-left: 79px;
    font-size: 10rem;
  }
}
